body {
  margin: 0;
  color: #333;
  background-color: #A1C3D1;
  font-family: Garamond, Baskerville, "Times New Roman", serif;
  line-height: 1.5em;
}
form {
  margin: 20px 40px;
  padding: 40px 20px;
  overflow: auto;
  margin: 5 auto;
  display: table;
  background: #6ea2b8;
  border: 1px solid #666;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;  
  border-radius: 5px;
  -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
}
label {
  display: block;
  float: left;
  clear: left;
  font-family: Garamond, Baskerville, "Times New Roman", serif;
  line-height: 1.5em;
  text-align: center;
  width: 15%;
  padding: .4em 0 0 0;
  margin: .15em .5em 0 0;
}


/* Give form elements consistent margin, padding and line height */

form ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

form ul li {
  margin: .9em 0 0 0;
  padding: 0;
}

form * {
  line-height: 1em;
}

 input[type=text], input[type=password] {
 background-color: #EEEEEE;
 direction: rtl;
 text-align: center;
 border: none;
 color: black;
 width:auto;
 padding: 8px 52px;
 text-decoration: none;
 margin: 4px 2px;
 cursor: pointer;
}
 
input[type=button], input[type=submit], input[type=reset] {
 display: inline;
  margin: 0 20px;
  width: 12em;
  padding: 10px;
  border: 2px solid RGB(89,89,89);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;  
  border-radius: 5px;
  -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  color: #fff;
  background: RGB(127,127,127);
  font-weight: bold;
  -webkit-appearance: none;
  cursor: pointer;
 }
 h1 {
  
  color: RGB(89,89,89);
  margin-bottom: 30px;
  line-height: 1.2em;
}

.statusMessage{
   margin: 20px 40px;
  padding: 40px 20px;
  overflow: auto;
  text-align:center;
  font-size: 20;
  font-weight: bold;
  font-color: black;
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  line-height: 1.5em;
  background: #6ea2b8;
  border: 1px solid #666;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;  
  border-radius: 5px;
  -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
}

